/*
  Поле ввода в модуле севооборота
*/

.standart-input {
  padding: 6px 10px;
  min-width: 20%;
  min-height: 40px;
  width: 100%;
  transition: background-color 0.2s;
  background: var(--standart-background);
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 14pt;
}

.standart-input::placeholder {
  color: var(--placeholder-color);
}

.standart-input:hover {
  background-color: var(--hover-background);
}

.standart-input:active,
.standart-input:focus {
  background-color: var(--active-background);
  outline: none;
}

textarea.standart-input {
  resize: none;
}
