/*
  Стили для отображения истории посевов в модуле севооборота
*/

:root {
  --standart-background: #ebebeb;
  --hover-background: #c8c8c8;
  --active-background: #969393;
  --placeholder-color: #222121;
  --button-text-color: #000000;
  --button-background: #ffffff;
  --standart-text-color: #000000;
}
